<html>
  <div style="text-align-last: right; padding-right: 45%">
    <h1>Register Student</h1>

    <label><b>Name</b></label
    >&nbsp;&nbsp;&nbsp;&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="name"
      id="name"
    /><br />
    <label><b>Unit 1</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="unit1"
      id="unit1"
    /><br />

    <label><b>Unit 2</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="unit2"
      id="unit2"
    /><br />
    <label><b>Unit 3</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="unit3"
      id="unit3"
    /><br />
    <label><b>Unit 4</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="unit4"
      id="unit4"
    /><br />
    <label><b>Unit 5</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="number"
      name="unit5"
      id="unit5"
    /><br /><br />
    <button type="button" style="margin-right: 6%">Register</button>
  </div>
</html>
