<html>
  <form>
    <div style="text-align-last: right; padding-right: 45%">
      <h1>Update Student</h1>

      <label><b>Name</b></label
      >&nbsp;&nbsp;&nbsp;&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="name"
        id="name"
        #name
        value="{{ data.name }}"
      /><br />
      <label><b>Unit 1</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="number"
        name="unit1"
        id="unit1"
        value="{{ data.unit1 }}"
      /><br />

      <label><b>Unit 2</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="number"
        name="unit2"
        id="unit2"
        value="{{ data.unit2 }}"
      /><br />
      <label><b>Unit 3</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="number"
        name="unit3"
        id="unit3"
        value="{{ data.unit3 }}"
      /><br />
      <label><b>Unit 4</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="number"
        name="unit4"
        id="unit4"
        value="{{ data.unit4 }}"
      /><br />
      <label><b>Unit 5</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="number"
        name="unit5"
        id="unit5"
        value="{{ data.unit5 }}"
      /><br /><br />
      <button type="submit" style="margin-right: 6%">Update</button>
    </div>
  </form>
</html>
